<div>
    <div class='col-md-offset-1 col-md-10 panel panel-cont'>
        <div class='panel-heading'>
            <h3>About Newman &amp; Associates</h3>
        </div>
        <div class='panel-body'>
            <img src="./img/portrait.jpg" class='col-xs-12 col-md-3'>
            <br>
            <p>
                Build a stronger defense with representation from Newman Associates, P.C. – George Henry Newman in Philadelphia, Pennsylvania. Mr. Newman practices criminal defense nationwide in the Federal Court system, and throughout the Commonwealth of Pennsylvania in state cases.
            </p>
            <br>
            <p>
                His practice is limited exclusively to criminal defense in trial, appellate, habeas corpus, and asset forfeiture matters. He is certified as a criminal trial advocate by the National Board of Trial Advocacy. Mr. Newman is a sole practitioner with his office in Philadelphia, Pennsylvania. He received a B.A. with honors from the University of Pennsylvania in 1971, and a J.D. from Temple University Law School in 1975.
            </p>
            <br>
            <p>
                Mr. Newman is a former Assistant Defender for the Defender Association of Philadelphia. He also clerked for the Honorable Richard B. Klein of the Court of Common Pleas of Philadelphia County (later of the Superior Court). Mr. Newman has also handled a variety of noteworthy cases at the trial court level.
            </p>
            <br>
            <p>
                He is admitted to practice before the Supreme Court of Pennsylvania, the United States District Court for the Eastern, Middle and Western Districts of Pennsylvania, the Third Circuit Court of Appeals and the United States Supreme Court. Mr. Newman is a member of the Philadelphia Bar Association, the Pennsylvania Association of Criminal Defense Lawyers (PACDL), and the National Association of Criminal Defense Lawyers (NACDL).
            </p>
        </div>
    </div>
</div>
